* {
  padding: 0;
  margin: 0;
}

input{
  border-style: none;
}
.temp-nav {
  /* Styles for the temporary nav button links on the home page */
}
/* img{
  height:400px;
} */
.App {
  height: auto;
  width: 100vw;
  /* background-color: grey; */
}
/* Input Story View and Components Styles */
/* ***************************************** */
/* InputStoryHeader */
.input-story-header-component-main-div {
  height: 10vh;
  width: 100%;
  /* background-color: deeppink; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.story-header-icons {
  height: 30px;
  width: 30px;
}
.user-image {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.input-story-header-logo-left-div {
  width: 15%;
  /* background-color: darkslategrey; */
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
}
.story-header-right-side-div {
  height: 100%;
  width: 25%;
  /* background-color: darksalmon; */
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.story-header-right-side-div > p {
  font-size: 12px;
}
.input-story-header-logo-left-div > p {
  font-size: 12px;
}
.logo-small {
  height: 70px;
  width: 70px;
}
/* InputBodyComponent */
.input-body-component-main-div {
  height: auto;
  min-height: 88vh;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-body-component-user-info {
  height: 10vh;
  width: 50%;
  /* background-color: dodgerblue; */
  padding: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: solid 1px rgb(131, 131, 131);
  /* border-top-style: solid; */
}
.input-body-component-title {
  height: auto;
  min-height: 10vh;
  width: 50%;
  font-size: 2.5em;
  border: none;
  padding: 10px;
}
.text-area-body-component-body {
  height: auto;
  min-height: 80vh;
  width: 50%;
  border: none;
  padding: 10px;
  font-size: 1.5em;
}
*:focus {
  outline: none;
}
.input-body-component-user-info {
  display: flex;
  flex-direction: row;
}
.input-body-component-user-info-image {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.input-body-component-user-info-name {
  margin-left: 10px;
  font-size: 12px;
}
.input-body-component-user-info-name > p {
  margin: 3px;
}
/* input story view */
/* MainHeader Styles */
.main-header-component-main-div {
  height: 10vh;
  width: 70%;
  /* background-color: deeppink; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-header-icon-user-div {
  /* background-color: bisque; */
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-header-logo-div {
  /* background-color: aquamarine; */
  width: 80%;
  display: flex;
  justify-content: center;
}
.logo-large {
  height: 60px;
  width: auto;
  /* background-color: aquamarine; */
}
/* Story render component styles */
/* ************************************** */
.story-render-component-main-div {
  /* background-color: azure; */
  padding: 10px;
  height: auto;
  min-width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;

  /* margin-top: 100px; */
}
.story-render-component-title{
  margin-top: 100px;
  font-size: 50px;
  font-weight: 600;
}
.story-render-component-body {
  font-size: 21px;
  font-weight: 400;
  margin-top: 50px;
  width:60%;
  /* background-color: blueviolet; */
}
.story-render-component-clap-section {
  width: 100%;
  background-color: #e8f3ec;
  /* margin-top: 10px; */
  border-top: solid 1px black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-top: 10px;
  align-items: center;
}
.story-render-component-clap-section-text {
  height: 100px;
  /* background-color: aqua; */
}
.story-render-component-clap-section-icons-div {
  /* background-color: bisque; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
}
/* StoryReadView Styles */
.story-read-view-main-div {
  /* background-color: #bbb; */
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* comment section styles */
.comments-section-main-div {
  /* background-color: aquamarine; */
  height: auto;
  width: 50%;
}
.main-comment-render-body-div {
  height: auto;
  min-height: 140px;
  background-color: white;
  margin: 10px 0px 10px 0px;
  /* border:1px solid rgb(108, 108, 108); */
}
/* comment section styles */

.comments-section-main-div{
  /* background-color: aquamarine; */
  height: auto;
  width: 50%;

}
.main-comment-render-body-div{
  height: auto;
  min-height: 140px;
  background-color: white;
  margin: 10px 0px 10px 0px;
  /* border:1px solid rgb(108, 108, 108); */
  
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.75);
}
.comment-render-avatar-info-main-div{
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comment-render-info{
  margin: 10px;
  height: 100%;
}
.clap-save-comment{
  height: 50px;
  display: flex;
  align-self: flex-end;
  /* background-color: rgb(131, 74, 4) */
}
.comment-input-main-div{
  /* background-color: blue; */
  height:auto ;
  min-height:273px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid rgb(108, 108, 108); */
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 45px -5px rgba(222,222,222,1);
  -moz-box-shadow: 0px 0px 45px -5px rgba(222,222,222,1);
  box-shadow: 0px 0px 45px -5px rgba(222,222,222,1);
}
.comment-section-input-user-info{
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}
.comment-input{
  min-height: 180px;
  width: 90%;
  border: none;
  align-self: center;
  font-size: 20px;
}
/* ProfilePageView Styles */
.profile-page-view-main-div {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-page-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 20px 20px 20px;
}
.profile-page-header {
  padding: 20px;
  /* The 10 vh is from the height of the header */
  height: calc(207px - 10vh);
  /* background: mediumslateblue; */
  max-width: 640px;
  width: fill;
}
.profile-page-header h5 {
  /* color: rgba(0, 0, 0, 0.54); */
  font-weight: 400;
}
.hero-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0px 0px 0px;
  margin-bottom: 10px;
  /* background: mediumvioletred; */
}
.hero-profile h1 {
  padding: 10px 0px 10px 5px;
}
.profile-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.profile-tabs {
  /* background: lawngreen; */
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 34px;
}
.profile-heading-tab {
  height: 24px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  /* color: rgba(0, 0, 0, 0.54); */
}
#tab-heading-profile {
  margin-right: 20px;
}
/* HomeView Styles */
.hompage-view-temporary {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Card Component Styles */
.featured-large-card-main-div {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  margin: 10px;
}
.featured-large-card-info {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.featured-large-card-info > h2 {
}
.featured-large-card-info > h5 {
  color: #bbb;
  font-weight: 300;
  font-size: 15px;
}
.featured-large-card-info > p {
  color: #bbb;
  font-weight: 300;
  font-size: 13px;
}
.featured-medium-card-main-div {
  /* background-color: blue; */
  /* height: 300px;
  width: 300px; */
  margin: 0px 12px;
}
.featured-medium-card-info {
  /* background-color: azure; */
  height: 50%;
}
.featured-small-card-main-div {
  /* background-color: aquamarine; */
  height: 100px;
  width: 100%;
  padding: 10px;
}
.featured-small-card-main-div > h4 {
  font-size: 17px;
  font-weight: 650;
}
.featured-small-card-main-div > p {
  font-size: 15px;
  color: rgb(160, 160, 160);
}
/* card containers style */
.medium-card-container-main-div {
  height: 50%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}
.featured-medium-card-info {
  padding: 12px 0px 12px 0px;
  height: 137px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured-medium-card-info > h2 {
  font-weight: 600;
  font-size: 19px;
}
.featured-medium-card-info > p {
  font-weight: 300;
  font-size: 15px;
  color: #bbb;
}
.small-card-container {
  border-top: 1px solid black;
  height: 50%;
  width: 40%;
  /* background-color: rgb(78, 75, 82); */
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.popular-network-container-main-div {
  width: 80%;
  min-height: 600px;
  background-color: rgb(237, 237, 237);
  padding: 20px;
  position: static;
}
.news-home-page-column-card-main-div {
  margin: 10px;
  padding: 10px;
  height: auto;
  min-height: 179px;
  width: 100%;
  display: flex;
  /* background-color: aquamarine; */
  flex-direction: row;
  justify-content: space-between;
}

.news-home-page-column-card-info {
  /* background-color: bisque; */

  width: 60%;
}
.news-home-page-column-card-info > h1 {
  font-size: 21px;
  color: black;
}
.news-home-page-column-card-info > p {
  font-weight: 200;
  font-size: 15px;
  color: rgb(121, 121, 121);
}
#author-name{
  font-weight: 600;
  color: black;
  font-size: 12px;
}
#time-stamp{
  font-size: 12px;
}
.news-home-page-column-card-image {
  /* background-color: rgb(64, 184, 184); */
  height: 100%;
  width: 150px;
}
.category-card-main-div {
  border: 1px solid rgba(0, 0, 0, 0.24);
  /* background-color: blueviolet; */
  height: 260px;
  width: 490px;
  display: flex;
  flex-direction: row;
  /* align-items: space-between;
  justify-content: space-between; */
}
.category-card-image {
  background-color: black;
  width: 200px;
  height: 258px;
}
.category-card-right-div {
  /* background-color: bisque; */
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.category-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: aquamarine; */
  margin: 10px;
}
.category-card-user-info-save {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(40, 65, 57); */
}
.category-card-info h1 {
  font-size: 22px;
}
/* Featured Component Styles */
/* ****************************** */
.featured-component-main-div {
  height: 600px;
  width: 80%;
  display: flex;
  margin-top: 30px;
  /* background-color: rgb(205, 68, 68); */
}
.featured-component-right-div {
  width: 60%;
  /* background-color: antiquewhite; */
}
/* HomePageView */
/* ******************* */
.hompage-view-main-div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  align-items: center;
}
/*  NewsHomePageColumnRender */
/* ******************************* */
.news-home-page-column-render-main-div {
  /* background-color: blue; */
  width: 60%;
  min-height: auto;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.news-home-page-column-main-articles {
  width: 60%;
}
.news-home-page-column-main-from-network-div {
  width: 30%;
  /* background-color: bisque; */
  padding: 10px;
}
/* Category View */
/* *************************** */
.category-view-main-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  /* background-color: blueviolet; */
  height: auto;
}
.category-view-title-follow {
  width: 70%;
  /* background-color: bisque; */
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.for-you-render {
  /* background-color: aquamarine; */
  min-width: 70%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}
.related-topics {
  margin: 10px 0 10px 0;
  height: 50px;
  width: 70%;
}
#profile-tab {
  padding-top: 20px;
}
/* GENERIC TAGS */
/* Saved Article View */
/* ************************* */
.saved-article-list-view-main-div {
  height: auto;
  min-height: 100vh;
  /* background-color: rgb(174, 174, 252); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved-article-header-and-tabs {
  width: 70%;
  margin-top: 100px;
}
#saved-archived {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.saved-article-content-div {
  /* background-color: rgb(39, 12, 63); */
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  min-height: 800px;
  margin-top: 100px;
}
.saved-article-card-main-div {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  min-height: 160px;
  width: 740px;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(187, 187, 187);
}
.saved-article-card-info {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.saved-article-card-info > h1 {
  font-size: 19px;
}
#saved-article-image {
  width: 100px;
  height: 100px;
}
.archive-remove {
  width: 130px;
  display: inline-flex;
  justify-content: space-between;
}
#saved-article-search-input {
  margin-top: 80px;
  width: 400px;
}
/* Search Page View */
.search-page-view-main-div {
  display: flex;
  flex-flow: column;
  align-items: center;
}


