*{
  padding: 0;
  margin: 0;
}
.App {
  height: auto;
  width: 100vw;
  background-color: grey;
}

/* Input Story View and Components Styles */
/* ***************************************** */


/* InputStoryHeader */
.input-story-header-component-main-div{
  height: 10vh;
  width: 100%;
  background-color: deeppink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.story-header-icons{
  height:40px;
  width:40px;
}
.input-story-header-logo-left-div{
  background-color: darkslategrey;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.story-header-right-side-div{
  background-color: darksalmon;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* InputBodyComponent */
.input-body-component-main-div{
  height: auto;
  min-height: 88vh;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-body-component-user-info{
  height: 10vh;
  width: 50%;
  background-color: dodgerblue;
  padding: 10px;
  margin-top: 20px;
}

.input-body-component-title{
  height: auto;
  min-height: 10vh;
  width: 50%;
  font-size: 2em;
  border: none;
  padding: 10px;
}
.text-area-body-component-body{
  height: auto;
  min-height: 80vh;
  width: 50%;
  border: none;
  padding: 10px;
}

/* input story view */
.add-story-view-main-div{

}
