* {
  padding: 0;
  margin: 0;
}
.temp-nav {
  /* Styles for the temporary nav button links on the home page */
}
/* img{
  height:400px;
} */
.App {
  height: auto;
  width: 100vw;
  /* background-color: grey; */
}

/* Input Story View and Components Styles */
/* ***************************************** */

/* InputStoryHeader */
.input-story-header-component-main-div {
  height: 10vh;
  width: 100%;
  /* background-color: deeppink; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.story-header-icons {
  height: 30px;
  width: 30px;
}
.user-image {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.input-story-header-logo-left-div {
  width: 15%;
  /* background-color: darkslategrey; */
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
}
.story-header-right-side-div {
  height: 100%;
  width: 25%;
  /* background-color: darksalmon; */
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.story-header-right-side-div > p {
  font-size: 12px;
}
.input-story-header-logo-left-div > p {
  font-size: 12px;
}
.logo-small {
  height: 70px;
  width: 70px;
}

/* InputBodyComponent */
.input-body-component-main-div {
  height: auto;
  min-height: 88vh;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-body-component-user-info {
  height: 10vh;
  width: 50%;
  /* background-color: dodgerblue; */
  padding: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: solid 1px rgb(131, 131, 131);
  /* border-top-style: solid; */
}

.input-body-component-title {
  height: auto;
  min-height: 10vh;
  width: 50%;
  font-size: 2.5em;
  border: none;
  padding: 10px;
}
.text-area-body-component-body {
  height: auto;
  min-height: 80vh;
  width: 50%;
  border: none;
  padding: 10px;
  font-size: 1.5em;
}

*:focus {
  outline: none;
}
.input-body-component-user-info {
  display: flex;
  flex-direction: row;
}
.input-body-component-user-info-image {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.input-body-component-user-info-name {
  margin-left: 10px;
  font-size: 12px;
}
.input-body-component-user-info-name > p {
  margin: 3px;
}

/* input story view */

/* MainHeader Styles */

.main-header-component-main-div {
  height: 10vh;
  width: 80%;
  /* background-color: deeppink; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-header-icon-user-div {
  /* background-color: bisque; */
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-header-logo-div {
  /* background-color: aquamarine; */
  width: 80%;
  display: flex;
  justify-content: center;
}
.logo-large {
  height: 60px;
  width: auto;
  /* background-color: aquamarine; */
}

/* Story render component styles */
/* ************************************** */
.story-render-component-main-div {
  /* background-color: azure; */
  padding: 10px;
  height: auto;
  min-width: 50%;
  /* margin-top: 100px; */
}
.story-render-component-body {
  margin-top: 100px;
  min-width: 60%;
  /* background-color: blueviolet; */
}

.story-render-component-clap-section {
  width: 100%;
  /* background-color: rgb(196, 12, 12); */
  /* margin-top: 10px; */
  border-top: solid 1px black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-top: 10px;
}

.story-render-component-clap-section-text {
  height: 100px;
  /* background-color: aqua; */
}
.story-render-component-clap-section-icons-div {
  /* background-color: bisque; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
}

/* StoryReadView Styles */
.story-read-view-main-div {
  /* background-color: #bbb; */
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*ExploreTopicsView Styles*/
.explore-topics-view-main-div {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.explore-topics-main-div h1 {
  padding: 20px 0px;
  margin: 0px 20px 20px 20px;
  font-size: 20px;
  line-height: 28px;
}
.topic-card-gallery {
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; */
}
.topic-card {
  margin: 15px;
}
/* ProfilePageView Styles */
.profile-page-view-main-div {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 20px 20px 20px;
  background: teal;
}
.profile-page-header {
  padding: 20px;
  /* The 10 vh is from the height of the header */
  height: calc(207px - 10vh);
  /* background: mediumslateblue; */
  max-width: 640px;
  width: fill;
}
.profile-page-header h5 {
  /* color: rgba(0, 0, 0, 0.54); */
  font-weight: 400;
}
.hero-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0px 0px 0px;
  margin-bottom: 10px;
  /* background: mediumvioletred; */
}
.hero-profile h1 {
  padding: 10px 0px 10px 5px;
}
.profile-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.profile-tabs {
  /* background: lawngreen; */
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 34px;
}
.profile-heading-tab {
  height: 24px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  /* color: rgba(0, 0, 0, 0.54); */
}
#tab-heading-profile {
  margin-right: 20px;
}
/* HomeView Styles */

.hompage-view-temporary {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Card Component Styles */

.featured-large-card-main-div {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  margin: 10px;
}
.featured-large-card-info{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.featured-large-card-info > h2{

}
.featured-large-card-info > h5{
  color: #bbb;
  font-weight: 300;
  font-size: 15px;
}
.featured-large-card-info > p{
  color: #bbb;
  font-weight: 300;
  font-size: 13px;
}
.featured-medium-card-main-div{
  /* background-color: blue; */
  /* height: 300px;
  width: 300px; */
  margin: 0px 12px;
}
.featured-medium-card-info {
  /* background-color: azure; */
  height: 50%;
}
.featured-small-card-main-div {
  /* background-color: aquamarine; */
  height: 100px;
  width: 100%;
  padding: 10px;
}

.featured-small-card-main-div > h4 {
  font-size: 17px;
  font-weight: 650;
}
.featured-small-card-main-div > p {
  font-size: 15px;
  color: rgb(160, 160, 160);
}

/* card containers style */
.medium-card-container-main-div {
  height: 50%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}
.featured-medium-card-info {
  padding: 12px 0px 12px 0px;
  height: 137px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured-medium-card-info > h2 {
  font-weight: 600;
  font-size: 19px;
}

.featured-medium-card-info > p {
  font-weight: 300;
  font-size: 15px;
  color: #bbb;
}

.small-card-container {
  border-top: 1px solid black;
  height: 50%;
  width: 40%;
  /* background-color: rgb(78, 75, 82); */
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.popular-network-container-main-div{
  width: 80%;
  min-height: 600px;
  background-color: rgb(237, 237, 237);
  padding: 20px;
  position: static;
}


.news-home-page-column-card-main-div{
  margin: 10px;
  height: 200px;
  width: 100%;
  display: flex;
  /* background-color: aquamarine; */
  flex-direction: row;
  justify-content: space-between;
}
.news-home-page-column-card-info {
  /* background-color: bisque; */
  width: 60%;
}
.news-home-page-column-card-image {
  /* background-color: rgb(64, 184, 184); */
  height: 200px;
  width: 200px;
}

/* Featured Component Styles */
/* ****************************** */

.featured-component-main-div {
  height: 600px;
  width: 80%;
  display: flex;
  /* background-color: rgb(205, 68, 68); */
}
.featured-component-right-div {
  width: 60%;
  /* background-color: antiquewhite; */
}

/* HomePageView */
/* ******************* */

.hompage-view-main-div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  align-items: center;
}

/*  NewsHomePageColumnRender */
/* ******************************* */

.news-home-page-column-render-main-div {
  /* background-color: blue; */
  width:60%;
  min-height: auto;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.news-home-page-column-main-articles{
  width: 60%;
}
.news-home-page-column-main-from-network-div{
  width: 30%;
  /* background-color: bisque; */
  padding: 10px;
}

/* Category View */
/* *************************** */

.category-view-main-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background-color: blueviolet;
  
}
.category-view-title-follow{
  width: 80%;
  background-color: bisque;
  margin-top: 150px;
}
